---
development:
  cloud_name: my_cloud_name
  api_key: my_api_key
  api_secret: my_api_secret
  enhance_image_tag: true
  static_file_support: false
production:
  cloud_name: my_cloud_name
  api_key: my_api_key
  api_secret: my_api_secret
  enhance_image_tag: true
  static_file_support: true
test:
  cloud_name: my_cloud_name
  api_key: my_api_key
  api_secret: my_api_secret
  enhance_image_tag: true
  static_file_support: false
