<div>
  <h1>
    Missing cloudinary.yml
  </h1>
  <p>
    You will need a Cloudinary account to run this demo project.
    <ol>
      <li>
        If you don't have an account, sign up for free
        <%= link_to 'here', 'https://cloudinary.com/users/register/free' %>.
      </li>
      <li>
        Download your customized cloudinary.yml configuration file using our
        <%= link_to 'Management Console', 'https://cloudinary.com/console' %>
        or by following this
        <%= link_to 'direct link', 'http://cloudinary.com/console/cloudinary.yml' %>.
      </li>
      <li>
        Place cloudinary.yml into the project's config directory.
      </li>
      <li>
        Restart your Rails server process.
      </li>
    </ol>
  </p>
</div>