dist: jammy
language: ruby
rvm:
  - 2.7.8
  - 3.0.6
  - 3.1.4
  - 3.2.2
  - 3.3.0

matrix:
  include:
    - name: "Ruby 1.9"
      dist: precise
      rvm: 1.9.3
      before_install:
        - gem install bundler -v 1.17.3

before_script: >
  export CLOUDINARY_URL=$(bash tools/get_test_cloud.sh);
  echo cloud_name: "$(echo $CLOUDINARY_URL | cut -d'@' -f2)"
script: bundle exec rspec

notifications:
  email:
    recipients:
      - sdk_developers@cloudinary.com
