dist: focal
language: ruby
rvm:
  - 2.6.7
  - 2.7.4
  - 3.0.2

matrix:
  include:
    - name: "Ruby 1.9"
      dist: precise
      rvm: 1.9.3
      before_install:
        - gem install bundler -v 1.17.3
    - name: "Ruby 2.5.9"
      dist: xenial
      rvm: ruby-2.5.9
      before_install:
        - gem install bundler

before_script: >
  export CLOUDINARY_URL=$(bash tools/get_test_cloud.sh);
  echo cloud_name: "$(echo $CLOUDINARY_URL | cut -d'@' -f2)"
script: bundle exec rspec

notifications:
  email:
    recipients:
      - sdk_developers@cloudinary.com
