<!DOCTYPE html>
<html>
<head>
  <title>Cloudinary - Basic Rails Sample</title>
  <%= stylesheet_link_tag "demo", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
